@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: #ffff;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  background-color: #fceecb;
  gap: 20px;
  grid-template-rows: 150px 150px 250px;
  grid-template-columns: .5fr 2fr .5fr;
  padding: 50px 20px;
  width: 100%;
  margin: auto;
}
.items{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  padding: 10px 0px;
  border-radius: 5px;
  h1{
    font-size: 18px;
  }
}
.item-1{
  background: #70d9d2;
  grid-row-start: 1;
  grid-row-end: 4;
}
.item-2-container{
  background: #fbe7b2;
  grid-row-start: 1;
  grid-row-end: 4;
  display: grid;
  gap: 0px 20px;
  grid-template-rows: 70px 150px 200px;
  grid-template-columns: 1fr 2fr;

  .item-2{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .nested-4-5{
    display: grid;
    gap:0 20px;
    grid-template-rows: 150px;
    grid-template-columns: 1fr 1fr;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  
    .item-4, .item-5{
      background-color: #e5918d;
    }
  }
  .item-6{
    grid-row-start: 3;
    grid-row-end: 5;
    background: #f39770;
  }
  .item-7-container{
    background-color: #f9d77e;
    display: grid;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 85px 135px 150px;
    gap: 0px 20px;
    
    .item-7{
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .item-8{
      grid-row-start: 2;
      grid-column-start: 1;
      background-color: #e5918d;
    }
    .item-9{
      grid-row-start:2;
      grid-column-start: 2;
      background-color: #e5918d;
    }
    .item-10{
      grid-row-start: 3;
      grid-column-start: 1;
      grid-column-end: 3;
      background-color: #d378a2;
    }
  }
}
.item-3{
  background: #70d9d2;
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
